.delivery-container {
  min-height: 100vh;
}
.delivery-delivery {
  width: 100%;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.delivery-fondo1 {
  top: 0px;
  left: -243px;
  width: 840px;
  height: 1139px;
  position: absolute;
  border-color: transparent;
}
.delivery-text {
  top: 54px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text02 {
  top: 71px;
  left: 235px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text04 {
  top: 71px;
  left: 353px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text06 {
  top: 124px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text08 {
  top: 183px;
  left: 77px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text10 {
  top: 183px;
  left: 188px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text12 {
  top: 183px;
  left: 292px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-vector1 {
  top: 209px;
  left: 279px;
  width: 84px;
  height: 0px;
  position: absolute;
}
.delivery-moleculapickup {
  top: 240px;
  left: 16px;
  width: 396px;
  height: 199px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.delivery-pickupperfil {
  top: -5px;
  left: 0px;
  width: 396px;
  height: 213px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 248, 248, 1);
}
.delivery-text14 {
  top: 60px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text16 {
  top: 111px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text18 {
  top: 83px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text20 {
  top: 134px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text22 {
  top: 158px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text24 {
  top: 181px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text26 {
  top: 22px;
  left: 198px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text28 {
  top: 54px;
  left: 198px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text30 {
  top: 54px;
  left: 307px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text32 {
  top: 85px;
  left: 197px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text34 {
  top: 85px;
  left: 307px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text36 {
  top: 144px;
  left: 197px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text38 {
  top: 173px;
  left: 198px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text40 {
  top: 141px;
  left: 307px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text42 {
  top: 170px;
  left: 307px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text44 {
  top: 116px;
  left: 198px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-text46 {
  top: 115px;
  left: 307px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.delivery-i-m-a-g-e7ed0855435194229a525aad6009a049793661 {
  top: 18px;
  left: 15px;
  width: 165px;
  height: 165px;
  position: absolute;
  border-color: transparent;
  border-radius: 22px;
}
.delivery-moleculaeatadodelivery {
  top: 497px;
  left: -1px;
  width: 334px;
  height: 275.7024230957031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.delivery-text48 {
  top: 149.02842712402344px;
  left: 91.90080261230469px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 24.838056564331055px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-ellipse5 {
  top: 4.9676737785339355px;
  left: 28.56374168395996px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-color: transparent;
}
.delivery-line1 {
  top: 17.386749267578125px;
  left: 38.498958587646484px;
  width: 233px;
  height: 0px;
  position: absolute;
}
.delivery-ellipse2 {
  top: 90.65894317626953px;
  left: 28.56374168395996px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-color: rgba(17, 9, 5, 1);
  border-style: solid;
  border-width: 1.2419028282165527px;
}
.delivery-ellipse6 {
  top: 165.1731719970703px;
  left: 28.56374168395996px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-color: rgba(17, 9, 5, 1);
  border-style: solid;
  border-width: 1.2419028282165527px;
}
.delivery-ellipse7 {
  top: 248.38058471679688px;
  left: 28.56374168395996px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-color: rgba(17, 9, 5, 1);
  border-style: solid;
  border-width: 1.2419028282165527px;
}
.delivery-text50 {
  top: -0.00004608773087966256px;
  left: 93.14270782470703px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 24.838056564331055px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text52 {
  top: 84.44940185546875px;
  left: 93.14270782470703px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 24.838056564331055px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text54 {
  top: 245.896728515625px;
  left: 91.90080261230469px;
  color: var(--dl-color-principal-colornegro);
  height: auto;
  position: absolute;
  font-size: 24.838056564331055px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-taskbar {
  top: 831px;
  left: -1px;
  width: 428px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.delivery-rectangle20 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 95px;
  position: absolute;
  border-color: transparent;
}
.delivery-text56 {
  top: 68px;
  left: 363px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text58 {
  top: 68px;
  left: 237px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-materialsymbolshome {
  top: 24px;
  left: 355px;
  width: 43px;
  height: 43px;
  position: absolute;
}
.delivery-vector {
  top: 29px;
  left: 143px;
  width: 28px;
  height: 35px;
  position: absolute;
}
.delivery-text60 {
  top: 68px;
  left: 22px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-text62 {
  top: 71px;
  left: 133px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.delivery-vector1 {
  top: 31px;
  left: 31px;
  width: 32px;
  height: 30px;
  position: absolute;
}
.delivery-vector2 {
  top: 31px;
  left: 252px;
  width: 24px;
  height: 30px;
  position: absolute;
}
