.mapa-container {
  min-height: 100vh;
}
.mapa-mapa {
  width: 100%;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.mapa-text {
  top: 54px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mapa-text02 {
  top: 780px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mapa-text04 {
  top: 780px;
  left: 286px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mapa-text06 {
  top: 152px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.mapa-text08 {
  top: 197px;
  left: 34px;
  color: rgba(75, 75, 75, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.mapa-screenshot20221207at161550howto-use-google-mapsto-plan {
  top: 241px;
  left: 34px;
  width: 361px;
  height: 350px;
  position: absolute;
  border-color: transparent;
  border-radius: 13px;
}
.mapa-atomos {
  top: 651px;
  left: 59px;
  width: 311px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mapa-rectangle8 {
  top: 0px;
  left: 0px;
  width: 311px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 12px;
}
.mapa-text10 {
  top: 17px;
  left: 43px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.mapa-atomobuscador {
  top: 74px;
  left: 313px;
  width: 20px;
  height: 21px;
  position: absolute;
}
.mapa-vector {
  top: 74px;
  left: 378px;
  width: 21px;
  height: 20px;
  position: absolute;
}
.mapa-taskbar {
  top: 817px;
  left: -1px;
  width: 428px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mapa-rectangle20 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 95px;
  position: absolute;
  border-color: transparent;
}
.mapa-text12 {
  top: 68px;
  left: 363px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mapa-text14 {
  top: 68px;
  left: 237px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mapa-materialsymbolshome {
  top: 24px;
  left: 355px;
  width: 43px;
  height: 43px;
  position: absolute;
}
.mapa-vector1 {
  top: 29px;
  left: 143px;
  width: 28px;
  height: 35px;
  position: absolute;
}
.mapa-text16 {
  top: 68px;
  left: 22px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mapa-text18 {
  top: 71px;
  left: 133px;
  color: var(--dl-color-principal-beigeclaro);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mapa-vector2 {
  top: 31px;
  left: 31px;
  width: 32px;
  height: 30px;
  position: absolute;
}
.mapa-vector3 {
  top: 31px;
  left: 252px;
  width: 24px;
  height: 30px;
  position: absolute;
}
